### Импортируем библиотеки

In [1]:
import pandas as pd

### Прочитаем наши файлы средствами Pandas и запишем в переменные

In [2]:
cust = pd.read_csv('https://raw.githubusercontent.com/sultanmurad/csv_files/main/customers.csv')
org = pd.read_csv('https://raw.githubusercontent.com/sultanmurad/csv_files/main/organizations.csv')
peop = pd.read_csv('https://raw.githubusercontent.com/sultanmurad/csv_files/main/people.csv')

In [3]:
print(cust.shape)
print(org.shape)
print(peop.shape)

(100000, 12)
(100000, 9)
(100000, 9)

### В набор данных cust добавим колонку 'Subscription Year'

In [4]:
cust['Subscription Date'] = pd.to_datetime(cust['Subscription Date'])
cust['Subscription Year'] = cust['Subscription Date'].dt.year

### Посчитаем количество строк в cust

In [5]:
num_rows_cust = int(len(cust))
print(num_rows_cust)

100000

### Добавим в cust столбец с номером группы таким образом, чтобы файл был разделен на 10 групп

In [6]:
cust['Group'] = [i // (num_rows_cust // 10) + 1 for i in range(num_rows_cust)]
cust.head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Subscription Year,Group
0,1,ffeCAb7AbcB0f07,Dawn,Trevino,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,clintongood@example.org,2021-11-11,https://www.mccarthy.info/,2021,1
1,2,b687FfC4F1600eC,Dale,Mcknight,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,clairebradshaw@example.org,2021-05-14,http://www.reynolds.com/,2021,1
2,3,9FF9ACbc69dcF9c,Herbert,Bean,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,johnnybooker@example.org,2021-03-17,https://neal.com/,2021,1

### Посчитаем количество строк в org

In [7]:
num_rows_org = int(len(org))
print(num_rows_org)

100000

### Добавим в org столбец с номером группы таким образом, чтобы файл был разделен на 10 групп

In [8]:
org['Group'] = [i // (num_rows_org // 10) + 1 for i in range(num_rows_org)]
org.head(3)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Group
0,1,8cC6B5992C0309c,Acevedo LLC,https://www.donovan.com/,Holy See (Vatican City State),Multi-channeled bottom-line core,2019,Graphic Design / Web Design,7070,1
1,2,ec094061FeaF7Bc,Walls-Mcdonald,http://arias-willis.net/,Lithuania,Compatible encompassing groupware,2005,Utilities,8156,1
2,3,DAcC5dbc58946A7,Gregory PLC,http://www.lynch-hoover.net/,Tokelau,Multi-channeled intangible help-desk,2019,Leisure / Travel,6121,1

### Посчитаем количество строк в peop

In [9]:
num_rows_peop = int(len(peop))
print(num_rows_peop)

100000

### Добавим в peop столбец с номером группы таким образом, чтобы файл был разделен на 10 групп

In [10]:
peop['Group'] = [i // (num_rows_peop // 10) + 1 for i in range(num_rows_peop)]
peop.head(3)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Group
0,1,e09c4f4cbfEFaFd,Dawn,Trevino,Male,clintongood@example.org,360-423-5286,1972-01-17,"Teacher, primary school",1
1,2,D781D28b845Ab9D,Dale,Mcknight,Male,clairebradshaw@example.org,9062423229,1931-01-31,"Development worker, community",1
2,3,eda7EcaF87b2D80,Herbert,Bean,Female,johnnybooker@example.org,001-149-154-0679x1617,2018-02-10,Ceramics designer,1

### Сохраним файлы для дальнейшей работы

In [11]:
cust.to_csv('./csv_files/customers.csv', index=False)

In [12]:
org.to_csv('./csv_files/organizations.csv', index=False)

In [13]:
peop.to_csv('./csv_files/people.csv', index=False)